.MMM-ScreenLogic table.colored .cold-temp {
	color: #BCDDFF;
}

.MMM-ScreenLogic table.colored .hot-temp {
	color: #FF8E99;
}

.MMM-ScreenLogic td {
	width: 33%;
}

.MMM-ScreenLogic .control {
    background: #000;
    border: 1px solid #6c757d;
    font-size: .9rem;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	box-sizing: border-box;
	position: relative;
	width: 80%;
	height: 5rem;
	margin: auto;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: none;
    outline: none;
}

.MMM-ScreenLogic .control:after {
	padding-bottom: 100%;
	content: "";
	display: block;
}

.MMM-ScreenLogic .content {
	position: absolute;
    width: 90%;
    height: 90%;
    left: 0px;
    top: 0px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MMM-ScreenLogic .control-on {
	background: #28a745 !important;
	border-color: #28a745 !important;
}

.MMM-ScreenLogic .control-off {
	background: transparent !important;
	border-color: #6c757d !important;
}

.MMM-ScreenLogic .temperature-container {
    font-size: .9rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 1;
    border: 1px solid #6c757d;
    width: 80%;
    margin: auto;
}

.MMM-ScreenLogic .temperature-label {
    height: 0;
    transform: translateY(-.5em);
}

.MMM-ScreenLogic .temperature {
    background: #000;
    border: 0px solid #6c757d;
    color: #fff;
	position: relative;
	width: 80%;
	height: 2.45rem;
	margin: auto;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: none;
    outline: none;
}
